{% extends 'app_AE2/base.html' %}
{% load static %}

{% block title %}Lista de Usuarios{% endblock %}
{%block css %}
<link rel="stylesheet" type="text/css" href="{% static 'app_AE3/css/styles.css' %}">
{% endblock %}
{% block content %}
    <h1>Lista de Usuarios Registrados</h1>
    <ul>
        {% for usuario in usuarios %}
        <li>Nombre: {{ usuario.nombre }}</li>
        <li>Edad: {{ usuario.edad }}</li>
        <li>Correo: {{ usuario.correo }}</li>
        <br>
        {% endfor %}
    </ul>
{% endblock %}

