{% extends "app_AE2/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="mt-3">Bienvenido a tu perfil, {{ user.username }}
                    </h1>
                    <p class="lead">{{ user.email }}</p>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>
{% endblock %}